body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

.navbar {
  background-color: #2c3e50;
  padding: 15px 30px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.container {
  padding: 500px;
}

.container h2 {
  color: #34495e;
  margin-bottom: 20px;
}


.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card b {
  display: block;
  margin-bottom: 8px;
  color: #2980b9;
}
.pre {
  background: #ecf0f1;
  padding: 10px;
  border-radius: 6px;
  overflow-x: auto;
  margin-bottom: 10px;
  color: #2c3e50;
  display: flex;
}


button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

input, select {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
}
