/* Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

/* Navbar */
.navbar {
  background-color: #2c3e50;
  padding: 39px 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

/* Page container */
.container {
  width: 100%;
  padding: 30px 463px;
  box-sizing: border-box;
}

.container > * {
  max-width: 1200px;
  margin: auto;
  color: black;
}

/* Headings */
.container h2 {
  color: #34495e;
  margin-bottom: 20px;
}

/* Cards */
.card {
  background: white;
  padding: 100px;
  border-radius: 80px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  /* width: 70%; */
  box-sizing: border-box;

}

.card b {
  display: block;
  margin-bottom: 6px;
  color: #2980b9;
}

/* Form elements */
input, select {
  padding: 10px;
  margin: 6px 0;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Buttons */
button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 6px;
}
